<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Eliminar Alumno</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formEliminar" (ngSubmit)="confirmarEliminacion()">
    <ion-list>
      <ion-item>
        <ion-label>Seleccionar Alumno</ion-label>
        <ion-select formControlName="id">
          <ion-select-option *ngFor="let alumno of alumnos" [value]="alumno.id">
            {{ alumno.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" color="danger" [disabled]="formEliminar.invalid">Eliminar Alumno</ion-button>
  </form>
</ion-content>
<!--AL QUERER CAMBIAR EL *NGFOR POR @FOR GENERA UN ERROR DE COMPILACION-->
