<ion-footer>
  <ion-grid>
    <ion-row class="social-links">
      <ion-col size="3">
        <a href="https://www.facebook.com/utvcoaxaca" target="_blank" rel="noopener" class="facebook">
          <ion-button expand="small" fill="clear" shape="round" class="facebook">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
        </a>
      </ion-col>
      <ion-col size="3">
        <a href="https://x.com/utvco" target="_blank" rel="noopener" class="twitter">
          <ion-button expand="small" fill="clear" shape="round" class="twitter">
            <ion-icon name="logo-x"></ion-icon>
          </ion-button>
        </a>
      </ion-col>
      <ion-col size="3">
        <a href="mailto:deportes.utvco@gmail.com" class="google">
          <ion-button expand="small" fill="clear" shape="round" class="google">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </a>
      </ion-col>
      <ion-col size="3">
        <a href="https://www.instagram.com/utvco/" target="_blank" rel="noopener" class="instagram">
          <ion-button expand="small" fill="clear" shape="round" class="instagram">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
