<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>CREDENCIAL DIGITAL</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
      <ion-toolbar color="light">
    <ion-title size="small" class="ion-text-center">
      <ion-card-subtitle>REGISTRO DE ALUMNOS</ion-card-subtitle>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Mis Alumnos</ion-card-title>
      <ion-item>
        <ion-input [(ngModel)]="searchTerm" (ionInput)="buscarAlumnos()" placeholder="Buscar alumno..."></ion-input>
        <ion-button fill="outline" (click)="ordenarPorApellido()">Ordenar por Apellido</ion-button>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <div style="overflow-x: auto; max-height: 400px; overflow-y: auto;">
        <table style="min-width: 900px; border-collapse: collapse; width: 100%;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Email</th>
              <th>Teléfono</th>
            </tr>
          </thead>
          <tbody>
            @for (instructor of instructoresFiltrados; track instructor) {
            <tr>
              <td>{{ instructor.id }}</td>
              <td>{{ instructor.nombre }}</td>
              <td>{{ instructor.apellido }}</td>
              <td>{{ instructor.correo }}</td>
              <td>{{ instructor.telefono }}</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>
