<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Escanear QR de salida</ion-title>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Escáner QR usando la cámara -->
  <zxing-scanner
    *ngIf="!alumno"
    [torch]="true"
    [tryHarder]="true"
    (scanSuccess)="onCodeResult($event)">
  </zxing-scanner>

  <!-- Muestra datos del alumno si fue leído -->
  <ion-card *ngIf="alumno">
    <ion-card-header>
      <ion-card-title>{{ alumno.nombre }} {{ alumno.apellido1 }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Grupo:</strong> {{ alumno.grupo.nombre }}</p>
      <p><strong>Tutor:</strong> {{ alumno.tutor.nombre }}</p>

      <ion-item>
        <ion-label>Autorizar salida</ion-label>
        <ion-toggle [(ngModel)]="salidaAutorizada"></ion-toggle>
      </ion-item>

      <ion-button expand="block" color="success" (click)="autorizarSalida()">
        Confirmar autorización
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
