<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      CREDENCIAL DIGITAL
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title size="small" class="ion-text-center">
      <ion-card-subtitle>Padres</ion-card-subtitle>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="welcome-message">
    <h2>👋 Bienvenido, {{tutorNombre}}</h2>
    <p>Selecciona una opción para comenzar:</p>
  </div>

  <ion-grid>
    <ion-row class="ion-justify-content-center" style="row-gap: 20px;">

     


      <ion-col size="12" size-md="5">
        <ion-card button (click)="irAsistencias()" class="opcion-card">
          <ion-card-header>
            <ion-card-title>Hijos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Visualiza el estado de tus Hijos.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="5">
        <ion-card button (click)="irQr()" class="opcion-card">
          <ion-card-header>
            <ion-card-title>Generar QR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Generar QR de Salida.
          </ion-card-content>
        </ion-card>
      </ion-col>

       <ion-col size="12" size-md="5">
        <ion-card button (click)="irConocidos()" class="opcion-card">
          <ion-card-header>
            <ion-card-title>Conocidos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Registra conocidos
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-router-outlet id="main-content"></ion-router-outlet> -->