<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="./assets/Imagen3.png" alt="Logo" class="logo">
        </ion-col>
        <ion-col size="4">
          <ion-title>UTVCO</ion-title>
          <ion-card-subtitle>Administradores</ion-card-subtitle>
        </ion-col>
        <ion-col size="4">
          <img src="./assets/Imagen4.png" alt="Logo" class="logo">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 style="text-align: center;" >Bienvenido Admin</h2>
  <ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-button 
        expand="block" 
        routerLink="/admin/usuarios" 
        routerDirection="forward"
        color="primary"
        class="menu-button"
      >
        <ion-icon slot="start" name="people-outline"></ion-icon>
        Gestión de Usuarios
      </ion-button>
    </ion-col>
    
    
    <ion-col size="12">
      <ion-button 
        expand="block" 
        routerLink="/admin/configuracion" 
        routerDirection="forward"
        color="tertiary"
        class="menu-button"
      >
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        Configuración
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-router-outlet id="main-content"></ion-router-outlet>
