<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-title>CREDENCIAL DIGITAL</ion-title>
          <ion-card-subtitle>REGISTRO DE TUTORES</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Tutores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="overflow-x: auto;">
        <table style="min-width: 900px; border-collapse: collapse; width: 100%;">
          <thead>
            <tr>
              <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">ID</th>
              <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Nombre</th>
              <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Apellidos</th>
              <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Email</th>
              <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Teléfono</th>
              <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Hijo(s)</th>
              <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Acciones</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let instructor of instructores">
              <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ instructor.id }}</td>
              <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ instructor.nombre }}</td>
              <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ instructor.apellido }}</td>
              <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ instructor.correo }}</td>
              <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ instructor.telefono }}</td>
              <td style="padding: 10px; border-bottom: 1px solid #ddd;">{{ obtenerNombresHijos(instructor) }}</td>
              <td style="padding: 10px; border-bottom: 1px solid #ddd;">
                <ion-button size="small" color="warning" (click)="abrirModalEditarInstructor(instructor)">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
                <ion-button size="small" color="danger" (click)="abrirModalEliminarInstructor(instructor)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>

  </ion-card>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="success" (click)="abrirModalAgregarInstructor()" >
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Agregar Tutor
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
