<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tutores por Grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let grupo of grupos">
        <ion-card (click)="toggleGrupo(grupo.id)">
          <ion-card-header>
            <ion-card-title>Grupo {{ grupo.id }}</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="grupo.abierto">
            <ion-list>
              <ion-item *ngFor="let tutor of grupo.tutores">
                <ion-label>
                  {{ tutor.nombre }}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
