.img {
  height: auto;
  max-width: 100%;
}
.img-container {
  text-align: center;
  margin-bottom: 20px;
}
.logo {
  height: 40px;
  width: auto;
}
.title {
  margin-bottom: 20px;
}

.custom-toast {
  .toast-message {
    white-space: pre-line;
  }
}

.custom-button {
  position: relative;
  padding: 12px 35px;
  background: transparent; /* Cambiado de #fec195 a transparente */
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid transparent;
  border-radius: 8px;
  box-shadow: 0 0 0 gray;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.custom-button .star-1,
.custom-button .star-2,
.custom-button .star-3,
.custom-button .star-4,
.custom-button .star-5,
.custom-button .star-6 {
  position: absolute;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.custom-button .star-2 {
  top: 45%;
  left: 45%;
  width: 15px;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.custom-button .star-3 {
  top: 40%;
  left: 40%;
  width: 5px;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.custom-button .star-4 {
  top: 20%;
  left: 40%;
  width: 8px;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.custom-button .star-5 {
  top: 25%;
  left: 45%;
  width: 15px;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.custom-button .star-6 {
  top: 5%;
  left: 50%;
  width: 5px;
  transition: all 0.8s ease;
}

.custom-button:hover {
  background: transparent;
  color: greenyellow;
  box-shadow: 0 0 25px green;
}

.custom-button:hover .star-1 {
  top: -80%;
  left: -30%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.custom-button:hover .star-2 {
  top: -25%;
  left: 10%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.custom-button:hover .star-3 {
  top: 55%;
  left: 25%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.custom-button:hover .star-4 {
  top: 30%;
  left: 80%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.custom-button:hover .star-5 {
  top: 25%;
  left: 115%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.custom-button:hover .star-6 {
  top: 5%;
  left: 60%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909; /* Color predeterminado para texto */
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: transparent;
  border: 1px solid transparent;
  width: 100%;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: transparent;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #084c34;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #084c34;
}

.button2:hover:before {
  top: -35%;
  background-color: #084c34;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #084c34;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

@media (prefers-color-scheme: dark) {
  .button2 {
    color: #ffffff; /* Cambiar el color del texto a blanco en modo oscuro */
  }
}
.button2:disabled {
  background-color: #cccccc; /* Color de fondo cuando está deshabilitado */
  color: #666666; /* Color del texto cuando está deshabilitado */
  cursor: not-allowed; /* Cambiar el cursor para indicar que está deshabilitado */
  box-shadow: none; /* Eliminar las sombras */
}
.button2:disabled:before,
.button2:disabled:after {
  content: none; /* Evitar que las animaciones se muestren cuando está deshabilitado */
}
