<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-title>CREDENCIAL DIGITAL</ion-title>
          <ion-card-subtitle>LOGIN</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="correo" name="correo" required></ion-input>
    </ion-item>
  <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        [type]="mostrarContrasena ? 'text' : 'password'"
        [(ngModel)]="contrasena"
        name="contrasena"
        required>
      </ion-input>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="mostrarContrasena = !mostrarContrasena">
          <ion-icon [name]="mostrarContrasena ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
  </form>
</ion-content>
