/*.card-login {
  max-width: 600px;
  margin: auto;
}


*/

.img {
  height: auto;
  max-width: 100%;
}
.img-container {
  text-align: center;
  margin-bottom: 20px;
}
.logo {
  height: 40px;
  width: auto;
}
/*
.campos {
  text-align: left;
}



.title {
  margin-bottom: 20px;
}
*/
