<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Docente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formInstructor" (ngSubmit)="agregarInstructor()">
    <ion-list>

      <!-- Instructor -->
      <ion-item>
        <ion-label>Seleccionar Docente</ion-label>
        <ion-select (ionChange)="onInstructorChange($event)" formControlName="id">
          <ion-select-option *ngFor="let instructor of instructores" [value]="instructor.id">
            {{ instructor.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="MATRICULA DOCENTE" type="text" placeholder="...." labelPlacement="floating" placeholder="MATRICULA DOCENTE" formControlName="matricula"  (input)="convertToUpperCase($event, 'matricula')"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="NOMBRE" type="text" placeholder="...." labelPlacement="floating" placeholder="NOMBRE DEL INSTRUCTOR" formControlName="nombre"  (input)="convertToUpperCase($event, 'nombre')"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="APELLIDOS" type="text" placeholder="...." labelPlacement="floating" placeholder="APELLIDOS" formControlName="apellido1"  (input)="convertToUpperCase($event, 'apellido1')"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="TELEFONO" placeholder="Teléfono" placeholder="...."  labelPlacement="floating" formControlName="telefono" type="tel"></ion-input>
        <ion-note color="medium" *ngIf="formInstructor.get('telefono')?.hasError('pattern')">
          El teléfono debe contener solo números.
        </ion-note>
        <ion-note color="medium" *ngIf="formInstructor.get('telefono')?.hasError('maxlength')">
          El teléfono debe tener máximo 10 dígitos.
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-input label="CORREO ELECTRONICO" placeholder="Correo electrónico" placeholder="...." labelPlacement="floating"  formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="CONTRASEÑA" placeholder="..." labelPlacement="floating" formControlName="password" required [type]="showPassword ? 'text' : 'password'" required></ion-input>
        <ion-icon slot="end" name="eye" (click)="togglePasswordVisibility()"></ion-icon>
        <ion-note color="medium" *ngIf="formInstructor.get('password')?.hasError('minlength')">
          La contraseña debe tener al menos 8 caracteres.
        </ion-note>
      </ion-item>
       <!-- Grupo -->
      <ion-item>
        <ion-label>Grupo</ion-label>
        <ion-select formControlName="grupoId" (ionChange)="cargarAlumnosDelGrupo()">
          <ion-select-option *ngFor="let grupo of grupos" [value]="grupo.id">
            {{ grupo.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
       <!-- Imagen del docente -->
    <ion-item lines="none">
      <ion-label>FOTO DEL DOCENTE</ion-label>
    </ion-item>
    <ion-item>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" />
    </ion-item>
    <ion-item *ngIf="fotoPreview">
      <img [src]="fotoPreview" style="width: 100%; max-height: 200px; object-fit: cover;" />
    </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" [disabled]="formInstructor.invalid">Agregar Instructor</ion-button>
  </form>
</ion-content>
